<%- include('master_header'); -%>
<style>
  .form-control {
    -webkit-box-shadow: inset 0 0px 0 rgba(0,0,0,0.075);
    box-shadow: inset 0 px 0 rgba(0,0,0,0.075);
}
</style>
<form action="/api/gateway/AddAntenna" method="POST">
    <input type="hidden" class="form-control" value="<%= ReaderId %>" name="ReaderId" id="ReaderId">
    <div class="form-group row">
      <label for="Altitude" class="col-sm-2 col-form-label">Altitude</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  name="Altitude" id="Altitude">
      </div>
    </div>
    <div class="form-group row">
        <label for="Latitude" class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Latitude" id="Latitude">
        </div>
    </div>
    <div class="form-group row">
        <label for="Longitude" class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-10">
            <input type="text"  class="form-control" name="Longitude" id="Longitude">
        </div>
    </div>
    <div class="form-group row">
        <label for="RackNo" class="col-sm-2 col-form-label">RackNo</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="RackNo" id="RackNo">
        </div>
    </div>
    <div class="form-group row">
        <label for="AntennaPort" class="col-sm-2 col-form-label">AntennaPort</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="AntennaPort" id="AntennaPort">
        </div>
    </div>
    <div class="form-group row">
      <label for="RackMounted" class="col-sm-2 col-form-label">Rack Mounted</label>
      <div class="col-sm-10">
          <input type="checkbox" class="form-control" style="width:auto ;" name="RackMounted" id="RackMounted">
         
      </div>
  </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <a href="/api/gateway/antenna/<%= ReaderId %>" style="margin-right: 0.5rem; margin-left: 0.5rem;" class="float-right btn btn-primary">Back</a>
        <button type="submit" class="float-right btn btn-primary">Add</button>
      </div>
    </div>
  </form>

  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>

  $('#RackMounted').change(function() {
          if(this.checked) {
            $("#RackMounted").val("1");
          }else{
            $("#RackMounted").val("0");
          }
        });
  </script>
<%- include('master_footer'); -%>